.container
  .show-title
    %h2= @task.title
  - if @task.eyecatch.attached?
    .task_image
      = image_tag @task.eyecatch
  .article
    .article_content
      = @task.content
    .article_detail
      = image_tag 'Oval.png'
     
  

  