.container
  %h2 All Boards
  
  .article
    .article-title
      %p title
    .article_content
      %p Saving money – is something we would all like.
    .article_detail
      = image_tag 'default-avatar.png'
  .new-card
    %p + Add new borad
      

    