.container
  %h2=  @article.title
  .article
    
    .article_contents
      = @article.content
  .new-card
    = link_to new_article_task_path(@article.id) do
      %p + Add new card
        
    

  
        
  