.container
  %h2 All Boards
  
  .article
    .article-title
      %p title
    .dropdown
      = image_tag 'Combined-Shape.png', class: 'dropbtn'
    .article_content
      %p Saving money – is something we would all like.
    .article_detail
      = image_tag 'Oval.png'
  .new-card
    %p + Add new borad
      