@import './variables';

$heart-size: 32px;
$avatar-size: 32px;
$container-padding: 24px;

.article {
  background: #F4F4F4;
  margin: 12px auto;
  position: relative;
  background: #E6E6E9;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 24px;
  height: 180px;
  width: 100%;
  overflow: scroll;
  
  

  .article-title {
    
    padding: 0 12px 10px ;
    font-size: 18px;
    width: 80%;
    font-weight: bold;
    overflow-x: scroll;
    height: 30px;
  }
  
  
  
  
  

  &_image {
    height: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      top: 0;
      width: 100%;
      height: 180px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 10%;
      object-fit:cover    
    }
  }

  .article-flex {
    display: flex;
    margin: 5px;
  }

  &_detail {
    top: 15px;
    
    font-size: 14px;
    width: 100%;
    text-align: right;
    
    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      
    }

    
  }
  
  &_content {
    position: absolute;
    
    padding: 12px;
    font-size: 14px;
    width: 100%;
    overflow-wrap: break-word;
    text-align: left;
    

  }
  &_contents {
    position: absolute;
    
    padding: 18px;
    font-size: 18px;
    width: 100%;
    overflow-wrap: break-word;
    height: auto;
    
  }

  
}   
.new-card {
    background: $base-bg-color;
    
    position: relative;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 80px;
    text-align: center;
    height: 180px;

}
.show-title {
  overflow-x: scroll;
}
