@import './variables';
.dropbtn-shape {
  border: none;
  background-color:#E6E6E9;
  min-width: 40px;
  z-index: 1;
  
  
}
.dropdown-zero {
  right: 5%;
  position: absolute;
  top: 15%;

}
.dropdown-one {
  position: relative;
  display: inline-block;
  
  
  
}

.dropdown-two {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  top: 100%;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-two a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-one a:hover {
  background-color: #E6E6E9;
}

.dropdown-one:hover .dropdown-two {
  display: block;
}