input, select {
    &.text {
      width: 100%;
      margin: 8px 0px 16px 0;
      padding: 16px 24px;
      border: 1px solid #EBEBEB;
      border-radius: 10px;

    }
    
  
    label {
        font-size: 16px;
        
    }
    
    textarea {
        position: absolute;
        width: 362px;
        height: 203px;
        left: 26px;
        top: 296px;

        background: #F4F4F4;
        border-radius: 10px;

    }
}